@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.font-robort {
    font-family: "Roboto Slab", serif;
}


.clode {
    border: 1px solid black
}

.crd-1:hover {
    background: #7B9FA0;
    color: white;
}

.crd-1 {
    max-width: 364px;
    height: 429px;
}

.cross {
    position: absolute;
    right: 90%;
    top: 5%;
}

.circle {
    position: absolute;
    left: 93%;
    bottom: 10%;
}

@media (max-width:992px) {
    .card_parent {
        flex-wrap: wrap !important;
    }
}